header {
  background: white;
  background-image: url("../images/hbnb-logo.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}

/* Media Query for mobile */
@media screen and (max-width: 520px) {
  header {
    background-position: center;
  }
}
