body {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Arial, Helvetica, Arial, Helvetica,
    sans-serif;
}

.container {
  width: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
